/* Importando as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* Definindo as cores e fontes que serão utilizadas */
:root{
    --cor-fundo: #f8f5f5;
    --cor-cont: #f1f1f1;
    --cor-borda: #e6e3e3;
    --cor-detalhes: #303878;
    --cor-texto: #474747;
    --fonte-detalhes: "Averia Serif Libre";
    --fonte-texto: "Archivo";
}