@import "./root.css";

#s-sobre{
    background-color: var(--cor-fundo);
    width: 100%;
    height: 700px;
}

#card-sm{
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    width: 75%;
    height: 600px;
    border: 2px solid var(--cor-borda);
    border-radius: 3px;
    background-color: var(--cor-cont);
}

.titulo{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: var(--cor-detalhes);
}

#card-sm img{
    width: 270px;
    height: 270px;
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}

#img-sobre, #texto-sm{
    width: 50%;
    color: var(--cor-texto);
}

#texto-sm{
    width: 500px;
    height: 300px;
}

#img_texto{
    display: flex;
}

#icones-cmt{
    display: flex;
    list-style: none;
    justify-content: center;
}

#icones-cmt img{
    width: 35px;
    height: 35px;
}

#icones-cmt li{
    width: 55px;
    height: 55px;
    border: 2px solid var(--cor-borda);
    border-radius: 3px;
}

#icones-cmt li:hover{
    border: 2px solid var(--cor-detalhes);
}