@import "./root.css";

/* Estilização da section sobre mim*/

#s-sobre{
    background-color: var(--cor-fundo);
    width: 100%;
    height: 800px;
}

#card-sm{
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    width: 75%;
    height: 600px;
    border: 2px solid var(--cor-borda);
    border-radius: 10px;
    background-color: var(--cor-cont);
}

.titulo{
    text-align: center;
    color: var(--cor-detalhes);
    font-family: var(--fonte-detalhes);
    font-size: medium;
}

#ti-sm{
    padding-top: 40px;
}

#card-sm img{
    width: 270px;
    height: 270px;
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}

#img-sobre, #texto-sm{
    width: 50%;
    color: var(--cor-texto);
}

#texto-sm{
    width: 400px;
    height: 300px;
    font-size: larger;
    padding-top: 40px;
    margin-left: 20px;
    font-family: var(--fonte-texto);
}

#img_texto{
    display: flex;
    padding: 40px;
}

#icones-cmt{
    display: flex;
    list-style: none;
    padding-top: 30px;
    justify-content: center;
}

#icones-cmt img{
    width: 35px;
    height: 35px;
}

#icones-cmt li{
    margin: 0 15px;
    width: 55px;
    height: 55px;
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-borda);
    border-radius: 10px;
}

#icones-cmt li:hover{
    border: 2px solid var(--cor-detalhes);
}